main {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

#listeContacts {
  width: 70%;
}
#detail {
  background-color: lightgray;
  width: fit-content;
  min-width: 8em;
  min-height: 5em;
  padding: 0.5em;
  border: 1px solid transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  margin-top: 0.2em;
  padding: 0.5em;
  background-color: coral;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: darkgray;
}
input {
  margin: 0.5em;
}
